@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
    --font-family: 'Playfair Display', serif;
    --sidenav-color: linear-gradient(269.57deg, rgba(15, 16, 20, .95) 16.24%, rgba(15, 16, 20, 0) 98.46%);
    --background-color: rgb(15,
            16, 20);
    --text-color: #f4f4f4;
}

body {
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
}